.footer {
  text-align: center;
  padding: 60px;
  background-color: rgb(103, 150, 68);
}

.footer .fab {
  font-size: 30px;
  color: #ffffff;
  margin: 0 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.fab:hover {
  color: #c1e6ff;
}

.footer p, .p-link {
  font-size: 15px;
  color: #c1e6ff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.p-link:hover {
  color: #ffffff;
}
